:root {
    --fgColor-accent: #ff0000 !important;
    --color-calendar-graph-day-L1-bg: #a50000 !important;
    --color-calendar-graph-day-L2-bg: #cc0000 !important;
    --color-calendar-graph-day-L3-bg: #e60000 !important;
    --color-calendar-graph-day-L4-bg: #ff0000 !important;

    --bgColor-accent-emphasis: #a7414a !important;
    --color-btn-bg: #a50000 !important;
    --color-btn-hover-bg: #cc0000 !important;

    --color-accent-subtle: rgba(165, 0, 0, 0.1) !important;
    --color-btn-text: #e7e7e7 !important;
}

/* class for star icon */
.starred .starred-button-icon,
.btn .octicon {
    color: #000000 !important;
}

.btn.selected {
    background-color: var(--bgColor-accent-emphasis);
}

.pricing-recommended-plan {
    background-image: radial-gradient(circle, var(--fgColor-accent) 0%, var(--fgColor-accent) 48%, var(--color-calendar-graph-day-L1-bg) 85%, var(--color-calendar-graph-day-L1-bg) 98%) !important;
}
