:root {
    --fgColor-accent: #FFD500 !important;
    --color-calendar-graph-day-L1-bg: #FFA500 !important;
    --color-calendar-graph-day-L2-bg: #FF7F00 !important;
    --color-calendar-graph-day-L3-bg: #FF5500 !important;
    --color-calendar-graph-day-L4-bg: #FF3300 !important;

    --bgColor-accent-emphasis: #FFA500 !important;
    --color-btn-bg: #FFD700 !important;
    --color-btn-hover-bg: #FFA500 !important;
    --color-btn-hover-border: #FFA500 !important;

    --color-accent-subtle: rgba(255, 215, 0, 0.1) !important;
    --color-btn-text: #000000 !important;
}

/* class for star icon */
.starred .starred-button-icon,
.btn .octicon {
    color: #000000 !important;
}
.btn.selected {
    background-color: var(--bgColor-accent-emphasis);
}

.pricing-recommended-plan {
    background-image: radial-gradient(circle, var(--fgColor-accent) 0%, var(--fgColor-accent) 48%, var(--color-calendar-graph-day-L1-bg) 85%, var(--color-calendar-graph-day-L1-bg) 98%) !important;
}
