.btn-customize {
    color: yellow !important;
    cursor: pointer !important;
}


#div-customize {
    position: fixed;
    top: 64px;
    right: 0;
    /* transform: translate(-50%, -50%); */
    width: 30em;
    height: 30em;
    background-color: red;
    border-radius: 5px;
    padding: 20px;
    z-index: 5;
}

#close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}